.formContainer{
    background-color: aqua;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }
}